Repository appgate/sdpctl, pull requests merged in 2025-05, with the labels that each got.

#659 [SA-25601] fix version parsing for multidigit versions
  pkg/appliance/helpers.go
  pkg/appliance/helpers_test.go
Labels: bug

#662 [SA-0] Admin API is not needed in 'sdpctl appliance function download'
  cmd/appliance/functions/download.go
Labels: bug

#665 [SA-25636] translate old stats fields to new status format
  go.mod
  go.sum
  pkg/appliance/api.go
Labels: dependencies

#666 [SA-0] Fix a bunch of spelling errors found by codespell
  cmd/appliance/appliance.go
  cmd/appliance/upgrade/complete.go
  cmd/device/device.go
  cmd/root.go
  docs/sdpctl_appliance.html
  docs/sdpctl_appliance_backup.html
  docs/sdpctl_appliance_backup_api.html
  docs/sdpctl_appliance_export-seed.html
  docs/sdpctl_appliance_extract-logs.html
  docs/sdpctl_appliance_files.html
  docs/sdpctl_appliance_files_delete.html
  docs/sdpctl_appliance_files_list.html
  docs/sdpctl_appliance_files_upload.html
  docs/sdpctl_appliance_force-disable-controller.html
  docs/sdpctl_appliance_functions.html
  docs/sdpctl_appliance_functions_download.html
  docs/sdpctl_appliance_list.html
  docs/sdpctl_appliance_logs.html
  docs/sdpctl_appliance_maintenance.html
  docs/sdpctl_appliance_maintenance_disable.html
  docs/sdpctl_appliance_maintenance_enable.html
  docs/sdpctl_appliance_maintenance_status.html
  docs/sdpctl_appliance_metric.html
  docs/sdpctl_appliance_resolve-name-status.html
  docs/sdpctl_appliance_resolve-name.html
  docs/sdpctl_appliance_stats.html
  docs/sdpctl_appliance_switch-partition.html
  docs/sdpctl_appliance_upgrade.html
  docs/sdpctl_appliance_upgrade_cancel.html
  docs/sdpctl_appliance_upgrade_complete.html
  docs/sdpctl_appliance_upgrade_prepare.html
  docs/sdpctl_appliance_upgrade_status.html
  docs/sdpctl_device.html
  pkg/api/apiutil.go
  pkg/appliance/functions.go
  pkg/appliance/upgrade_status.go
Labels: bug, documentation

#668 Translate additional information from old status endpoint
  pkg/appliance/api.go
Labels: bug
