Repository appgate/sdpctl, pull requests merged in 2025-04, with the labels that each got.

#647 [SA-24470] Replace Survey
  cmd/appliance/backup/api_test.go
  cmd/appliance/files/delete.go
  cmd/appliance/files/upload.go
  cmd/appliance/force_disable_controller.go
  cmd/appliance/force_disable_controller_test.go
  cmd/appliance/functions/download.go
  cmd/appliance/seed.go
  cmd/appliance/seed_test.go
  cmd/appliance/switch_partition_test.go
  cmd/appliance/upgrade/cancel_test.go
  cmd/appliance/upgrade/complete.go
  cmd/appliance/upgrade/complete_test.go
  cmd/appliance/upgrade/prepare_test.go
  cmd/configure/configure.go
  cmd/configure/configure_test.go
  cmd/profile/set.go
  cmd/serviceusers/create.go
  cmd/serviceusers/create_test.go
  cmd/serviceusers/delete.go
  cmd/serviceusers/serviceusers_test.go
  go.mod
  go.sum
  pkg/appliance/backup.go
  pkg/appliance/prompt.go
  pkg/appliance/prompt_test.go
  pkg/auth/local.go
  pkg/auth/signin.go
  pkg/auth/signin_test.go
  pkg/prompt/password.go
  pkg/prompt/password_test.go
  pkg/prompt/prompt.go
  pkg/prompt/selector.go
  pkg/prompt/stubber.go
Labels: dependencies

#644 update text and styling on documentation
  appgate.svg
  cmd/generate.go
  docs/assets/appgate.svg
  docs/assets/guide.css
  docs/assets/guide.js
  docs/index.html
  docs/sdpctl.html
  docs/sdpctl_admin-messages.html
  docs/sdpctl_appliance.html
  docs/sdpctl_appliance_backup.html
  docs/sdpctl_appliance_backup_api.html
  docs/sdpctl_appliance_export-seed.html
  docs/sdpctl_appliance_extract-logs.html
  docs/sdpctl_appliance_files.html
  docs/sdpctl_appliance_files_delete.html
  docs/sdpctl_appliance_files_list.html
  docs/sdpctl_appliance_files_upload.html
  docs/sdpctl_appliance_force-disable-controller.html
  docs/sdpctl_appliance_functions.html
  docs/sdpctl_appliance_functions_download.html
  docs/sdpctl_appliance_list.html
  docs/sdpctl_appliance_logs.html
  docs/sdpctl_appliance_maintenance.html
  docs/sdpctl_appliance_maintenance_disable.html
  docs/sdpctl_appliance_maintenance_enable.html
  docs/sdpctl_appliance_maintenance_status.html
  docs/sdpctl_appliance_metric.html
  docs/sdpctl_appliance_resolve-name-status.html
  docs/sdpctl_appliance_resolve-name.html
  docs/sdpctl_appliance_stats.html
  docs/sdpctl_appliance_switch-partition.html
  docs/sdpctl_appliance_upgrade.html
  docs/sdpctl_appliance_upgrade_cancel.html
  docs/sdpctl_appliance_upgrade_complete.html
  docs/sdpctl_appliance_upgrade_prepare.html
  docs/sdpctl_appliance_upgrade_status.html
  docs/sdpctl_completion.html
  docs/sdpctl_configure.html
  docs/sdpctl_configure_signin.html
  docs/sdpctl_device.html
  docs/sdpctl_device_list.html
  docs/sdpctl_device_revoke.html
  docs/sdpctl_open.html
  docs/sdpctl_privileges.html
  docs/sdpctl_profile.html
  docs/sdpctl_profile_add.html
  docs/sdpctl_profile_delete.html
  docs/sdpctl_profile_list.html
  docs/sdpctl_profile_set.html
  docs/sdpctl_service-users.html
  docs/sdpctl_service-users_create.html
  docs/sdpctl_service-users_delete.html
  docs/sdpctl_service-users_get.html
  docs/sdpctl_service-users_list.html
  docs/sdpctl_service-users_update.html
  docs/sdpctl_sites.html
  docs/sdpctl_sites_list.html
Labels: documentation

#648 Run Tidy
  .github/workflows/test.yml
  cmd/appliance/upgrade/complete.go
  cmd/profile/delete_test.go
  cmd/profile/set_test.go
  go.mod
  pkg/appliance/backup.go
  pkg/appliance/functions_test.go
Labels: dependencies

#650 Use Provided Message in Confirmation Prompt
  pkg/prompt/prompt.go
Labels: bug

#653 [SA-25515] Fix Metrics Aggregator enum and add function
  go.mod
  go.sum
  pkg/appliance/functions.go
Labels: bug, dependencies
